<div class = "row">
    <div class = "col">
        <h1><%= @event[:event_name] %></h1>
        <p><%= @event[:description] %></p>
    </div>
</div>

<div class = "row mt-4">
    <div class = "col-md-6">
        <h2>Teriyiaki Hub Ratings</h2>
    </div>
    <div class = "col-md-6">
        <h2>Location Details</h2>
    </div>
</div>
<div class = "row">
    <div class = "col-md-6">
        <p><b>Overall:</b></p>
        <% if @avg_overall == nil %>
            <p>No Ratings Yet</p>
        <% else %>
            <p>
            <%= (@avg_overall).round(2) %>/10
            <% if @avg_overall >= 7 %>
                    <i class="fas fa-smile"></i>
            <% elsif @avg_overall >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        <% end %>

        <p><b>Food Quality:</b></p>
        <% if @avg_p == nil %>
            <p>No Ratings Yet</p>
        <% else %>
            <p>
            <%= (@avg_food_variety).round(2) %>/10
            <% if @avg_food_variety >= 7 %>
                    <i class="fas fa-smile"></i>
            <% elsif @avg_food_variety >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        <% end %>
    
        <p><b>Variety:</b></p>
        <% if @avg_food_quality == nil %>
            <p>No Ratings Yet</p>
        <% else %>
            <p>
            <%= (@avg_food_quality).round(2) %>/10
            <% if @avg_food_quality >= 7 %>
                    <i class="fas fa-smile"></i>
            <% elsif @avg_food_quality >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        <% end %>

        <p><b>Ambiance:</b></p>
        <% if @avg_ambiance == nil %>
            <p>No Ratings Yet</p>
        <% else %>
            <p>
            <%= (@avg_ambiance).round(2) %>/10
            <% if @avg_ambiance >= 7 %>
                    <i class="fas fa-smile"></i>
            <% elsif @avg_ambiance >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        <% end %>
    </div>
    <div class = "col-md-6 col-md-offset-6">
        <p>Address: <%= @event[:address] %></p>
        <p>Phone: <%= @event[:phone] %></p>
        <p>Website: <a href="<%=@event[:website]%>"><%=@event[:website]%></a></p>
        <iframe
            width="250"
            height="150"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
            &q=<%=@event[:address]%>&zoom=12" allowfullscreen>
        </iframe>
    </div>
</div>

<div class = "row mt-3">
    <div class = "col">
        <a href ="/events/<%= @event[:id] %>/ratings/new" class="btn btn-outline-primary">Rate & Review</a>
    </div>
</div>

<div class = "row mt-3">
    <div class = "col">
        <h2>Reviews</h2>
    </div>
</div>

<% for ratings in @ratings %>
    <div class = "row mt-3">
        <div class = "col">
            <hr>
            <%= @users_table.where(id: ratings[:user_id]).to_a[0][:name] %>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-3">
            <p>Overall Rating: 
            <%= ratings[:overall_rating] %>
            <% if ratings[:overall_rating] >= 7%>
                <i class="fas fa-smile"></i>
            <% elsif ratings[:overall_rating] >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        </div>
        <div class = "col-md-3">
            <p>Food Quality Rating: 
            <%= ratings[:food_quality_rating] %>
            <% if ratings[:food_quality_rating] >= 7 %>
                <i class="fas fa-smile"></i>
            <% elsif ratings[:food_quality_rating] >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        </div>
        <div class = "col-md-3">
            <p>Food Variety Rating: 
            <%= ratings[:food_variety_rating] %>
            <% if ratings[:food_variety_rating] >= 7%>
                <i class="fas fa-smile"></i>
            <% elsif ratings[:food_variety_rating] >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        </div>
        <div class = "col-md-3">
            <p>Ambiance Rating: 
            <%= ratings[:ambiance_rating] %>
            <% if ratings[:ambiance_rating] >= 7%>
                <i class="fas fa-smile"></i>
            <% elsif ratings[:ambiance_rating] >= 5 %>
                <i class="fas fa-meh"></i>
            <% else %>
                <i class="fas fa-frown"></i>
            <% end %>
            </p>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <%= ratings[:comments] %>
        </div>
    </div>
<% end %>
